<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tekauth.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>tekauth.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>tekauth</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$tekauth</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ConferenceContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:gg8f6k23vn.database.windows.net,1433;Initial Catalog=tekconf;Integrated Security=False;User ID=tekconf@gg8f6k23vn;Password=Conferences2015;Connect Timeout=30;Encrypt=True" Name="Server=tcp:gg8f6k23vn.database.windows.net,1433;Database=tekconf;User ID=tekconf@gg8f6k23vn;Password=Conferences2015;Trusted_Connection=False;Encrypt=True;Connection Timeout=30" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Tekconf.Data.Entities.ConferenceContext, Tekconf.Data" MigrationConfiguration="Tekconf.Data.Migrations.Configuration, Tekconf.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ConferenceContext-Web.config Connection String">
      <ParameterValue>Server=tcp:gg8f6k23vn.database.windows.net,1433;Database=tekconf;User ID=tekconf@gg8f6k23vn;Password=Conferences2015;Trusted_Connection=False;Encrypt=True;Connection Timeout=30</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>